In [35]:
import pandas as pd
import numpy as np

# Read the CSV file
df = pd.read_csv('stats.csv')

# Convert numeric columns to appropriate types
numeric_cols = ['hit', 'strikeout', 'walk', 'p_out', 'p_win', 'p_earned_run', 
                'p_save', 'p_balk', 'p_quality_start', 'p_hit_by_pitch', 
                'p_hold', 'p_total_pickoff']

for col in numeric_cols:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')

# Calculate points using the old scoring system
df['old'] = (
    df['p_win'] * 8 +
    df['p_save'] * 8 +
    df['p_out'] * 1 +
    df['hit'] * -1.3 +
    df['p_earned_run'] * -3 +
    df['walk'] * -1.3 +
    df['p_hit_by_pitch'] * -1.3 +
    df['strikeout'] * 3
)

# Calculate points using the new scoring system (old + additional stats)
df['new'] = (
    df['old'] +
    df['p_balk'] * -1 +
    df['p_hold'] * 4 +
    df['p_total_pickoff'] * 1 +
    df['p_quality_start'] * 3 +
    df['p_save'] * 5 + # double points for saves
    df['p_blown_save'] * -5 # minus points for blown saves
)

# Add rank columns
df['old_rank'] = df['old'].rank(ascending=False, method='min').astype(int)
df['new_rank'] = df['new'].rank(ascending=False, method='min').astype(int)
df['rank_improvement'] = df['old_rank'] - df['new_rank']

# Display the top 20 players with their ranks
top_players = df[['last_name, first_name', 'player_id', 'old', 'old_rank', 'new', 'new_rank', 'p_save']]
top_players = top_players.sort_values(by='new', ascending=False)

print("Top 100 players by new scoring system with ranks:")
with pd.option_context('display.max_rows', None):
    display(top_players.head(100))

# List of the 20 specific players you provided
specific_players = [
    "Helsley, Ryan", "Clase, Emmanuel", "Finnegan, Kyle", "Suarez, Robert", 
    "Hader, Josh", "Iglesias, Raisel", "Yates, Kirby", "Holmes, Clay", 
    "Foley, Jason", "Díaz, Alexis", "Miller, Mason", "Jansen, Kenley", 
    "Estévez, Carlos", "Doval, Camilo", "Bednar, David", "Duran, Jhoan", 
    "Kimbrel, Craig", "Fairbanks, Pete", "Scott, Tanner", "Muñoz, Andrés"
]

# Filter the dataframe to only include these players
specific_df = df[df['last_name, first_name'].isin(specific_players)]

# Create a dataframe showing rank improvements for these specific players
specific_rank_changes = specific_df[['last_name, first_name', 'p_save', 'old', 'old_rank', 'new', 'new_rank', 'rank_improvement']]
specific_rank_changes = specific_rank_changes.sort_values(by='rank_improvement', ascending=False)

print("\nRank improvements for the 20 players with the most saves last season:")
display(specific_rank_changes)

# Also show players with the biggest rank improvements overall
biggest_improvers = df[['last_name, first_name', 'old', 'old_rank', 'new', 'new_rank', 'rank_improvement']]
biggest_improvers = biggest_improvers.sort_values(by='rank_improvement', ascending=False)

print("\nPlayers with biggest rank improvements from old to new scoring system:")
display(biggest_improvers.head(10))

Top 100 players by new scoring system with ranks:

,"last_name, first_name",player_id,old,old_rank,new,new_rank,p_save
209,"Skubal, Tarik",669373,1009.2,1,1075.2,1,0
520,"Wheeler, Zack",554430,970.3,2,1049.3,2,0
79,"Sale, Chris",519242,966.6,3,1021.6,3,0
778,"Helsley, Ryan",664854,744.1,15,969.1,4,49
152,"Clase, Emmanuel",661403,747.7,14,967.7,5,47
695,"Gilbert, Logan",669302,887.3,4,954.3,6,0
478,"Cease, Dylan",656302,867.8,5,915.8,7,0
252,"Ragans, Cole",666142,836.3,6,900.3,8,0
171,"Lugo, Seth",607625,779.8,7,845.8,9,0
229,"Burnes, Corbin",669203,777.5,9,842.5,10,0
130,"Hader, Josh",623352,684.3,29,833.3,11,34
457,"Yates, Kirby",489446,667.1,31,833.1,12,33
439,"King, Michael",650633,778.8,8,822.8,13,0
83,"Imanaga, Shota",684007,760.0,11,820.0,14,0
296,"Flaherty, Jack",656427,770.9,10,816.9,15,0
557,"Nola, Aaron",605400,749.4,13,810.4,16,0
5,"Gray, Sonny",543243,759.8,12,798.8,17,0
513,"Miller, Bryce",682243,740.3,16,795.3,18,0
324,"Skenes, Paul",694973,738.4,17,785.4,19,0
539,"Ober, Bailey",641927,727.5,19,782.5,20,0
232,"Kirby, George",669923,722.7,21,781.7,21,0
315,"López, Pablo",641154,720.3,22,774.3,22,0
673,"Valdez, Framber",664285,723.7,20,773.7,23,0
111,"Iglesias, Raisel",628452,616.8,43,766.8,24,34
194,"Manaea, Sean",640455,715.2,24,763.2,25,0
142,"Rodón, Carlos",607074,715.8,23,762.8,26,0
184,"Crochet, Garrett",676979,729.7,18,761.7,27,0
172,"Bibee, Tanner",676440,714.4,25,754.4,28,0
311,"Blanco, Ronel",669854,708.8,26,751.8,29,0
662,"Miller, Mason",695243,617.6,42,742.6,30,28
251,"Peralta, Freddy",642547,708.7,27,740.7,31,0
705,"Kikuchi, Yusei",579328,703.1,28,739.1,32,0
742,"Suarez, Robert",663158,583.6,55,737.6,33,36
507,"Webb, Logan",657277,666.8,32,727.8,34,0
571,"Scott, Tanner",656945,567.4,57,711.4,35,22
687,"Greene, Hunter",668881,668.4,30,708.4,36,0
710,"Castillo, Luis",622491,653.0,35,707.0,37,0
78,"Brown, Hunter",686613,649.7,36,705.7,38,0
652,"Glasnow, Tyler",607192,656.9,34,697.9,39,0
449,"Fried, Max",608331,647.0,37,697.0,40,0
80,"Gil, Luis",661563,665.3,33,694.3,41,0
505,"Berríos, José",621244,627.5,39,692.5,42,0
737,"Eovaldi, Nathan",543135,635.2,38,683.2,43,0
345,"Finnegan, Kyle",640448,510.5,75,675.5,44,38
175,"López, Reynaldo",625643,627.4,40,672.4,45,0
363,"Gausman, Kevin",592332,620.1,41,668.1,46,0
270,"Walker, Ryan",676254,545.9,61,660.9,47,10
713,"Houck, Tanner",656557,598.0,46,655.0,48,0
34,"Sánchez, Cristopher",650911,597.2,47,648.2,49,0
272,"Crawford, Kutter",676710,601.5,45,646.5,50,0
129,"Pfaadt, Brandon",694297,605.3,44,644.3,51,0
700,"Cortes Jr., Nestor",641482,595.5,50,637.5,52,0
21,"Fedde, Erick",607200,596.7,48,635.7,53,0
723,"Gallen, Zac",668678,595.7,49,631.7,54,0
404,"Wacha, Michael",608379,587.8,52,629.8,55,0
169,"Singer, Brady",663903,588.3,51,627.3,56,0
286,"Pivetta, Nick",601713,585.5,53,618.5,57,0
90,"Gore, MacKenzie",669022,584.9,54,617.9,58,0
88,"Severino, Luis",622663,571.9,56,613.9,59,0
694,"Jax, Griffin",643377,486.8,83,603.8,60,10
87,"Suárez, Ranger",624133,567.2,58,600.2,61,0
10,"Ryan, Joe",657746,560.6,59,598.6,62,0
466,"Muñoz, Andrés",662253,489.0,82,598.0,63,22
362,"Keller, Mitch",656605,546.9,60,589.9,64,0
333,"Taillon, Jameson",592791,542.6,62,589.6,65,0
355,"Irvin, Jake",663623,537.3,63,584.3,66,0
489,"Chapman, Aroldis",547973,443.8,100,579.8,67,14
758,"Jansen, Kenley",445276,461.3,95,574.3,68,27
413,"Holmes, Clay",605280,480.5,87,573.5,69,30
660,"Weaver, Luke",596133,461.4,94,570.4,70,4
2,"Duran, Jhoan",661395,437.3,102,569.3,71,23
397,"Eflin, Zach",621107,529.1,65,568.1,72,0
630,"Snell, Blake",605483,536.0,64,567.0,73,0
359,"Holton, Tyler",663947,463.6,93,563.6,74,8
316,"Morton, Charlie",450203,521.9,67,562.9,75,0
696,"Martinez, Nick",607259,511.7,73,559.7,76,0
629,"Foley, Jason",671345,408.1,118,559.1,77,28
308,"Bradley, Taj",671737,527.4,66,557.4,78,0
593,"Smith, Cade",671922,450.7,97,556.7,79,1
757,"Díaz, Edwin",621242,481.3,86,554.3,80,20
260,"Hoffman, Jeff",656546,434.9,103,553.9,81,10
12,"Bassitt, Chris",605135,514.2,69,549.2,82,0
709,"Estévez, Carlos",608032,443.7,101,548.7,83,26
504,"Steele, Justin",657006,513.4,70,547.4,84,0
140,"Pepiot, Ryan",686752,519.9,68,546.9,85,0
720,"Bello, Brayan",678394,513.4,70,543.4,86,0
686,"Arrighetti, Spencer",681293,510.7,74,541.7,87,0
56,"Anderson, Tyler",542881,506.6,77,541.6,88,0
477,"Schwellenbach, Spencer",680885,502.5,78,538.5,89,0
592,"Adam, Jason",592094,414.3,113,538.3,90,4
257,"Littell, Zack",641793,507.0,76,538.0,91,0
107,"Kopech, Michael",656629,449.1,98,534.1,92,15
218,"Rodriguez, Grayson",680570,499.0,79,532.0,93,0
4,"Myers, Tobias",668964,511.9,72,529.9,94,0
420,"Quintana, Jose",500779,491.8,81,527.8,95,0
768,"Doval, Camilo",666808,415.5,112,525.5,96,23
646,"Kimbrel, Craig",518886,424.2,109,524.2,97,23
641,"Gibson, Kyle",502043,483.1,85,522.1,98,0
491,"Rea, Colin",607067,483.4,84,518.4,99,1
734,"Díaz, Alexis",664747,396.3,124,517.3,100,28

Rank improvements for the 20 players with the most saves last season:

,"last_name, first_name",p_save,old,old_rank,new,new_rank,rank_improvement
629,"Foley, Jason",28,408.1,118,559.1,77,41
2,"Duran, Jhoan",23,437.3,102,569.3,71,31
345,"Finnegan, Kyle",38,510.5,75,675.5,44,31
758,"Jansen, Kenley",27,461.3,95,574.3,68,27
558,"Bednar, David",23,333.5,161,425.5,135,26
582,"Fairbanks, Pete",23,353.1,150,452.1,124,26
734,"Díaz, Alexis",28,396.3,124,517.3,100,24
571,"Scott, Tanner",22,567.4,57,711.4,35,22
742,"Suarez, Robert",36,583.6,55,737.6,33,22
457,"Yates, Kirby",33,667.1,31,833.1,12,19
466,"Muñoz, Andrés",22,489.0,82,598.0,63,19
111,"Iglesias, Raisel",34,616.8,43,766.8,24,19
413,"Holmes, Clay",30,480.5,87,573.5,69,18
709,"Estévez, Carlos",26,443.7,101,548.7,83,18
130,"Hader, Josh",34,684.3,29,833.3,11,18
768,"Doval, Camilo",23,415.5,112,525.5,96,16
646,"Kimbrel, Craig",23,424.2,109,524.2,97,12
662,"Miller, Mason",28,617.6,42,742.6,30,12
778,"Helsley, Ryan",49,744.1,15,969.1,4,11
152,"Clase, Emmanuel",47,747.7,14,967.7,5,9

Players with biggest rank improvements from old to new scoring system:

    last_name, first_name    old  old_rank    new  new_rank  rank_improvement
32         Harvey, Hunter  172.4       333  274.4       240                93
745         Pérez, Cionel  146.0       363  239.0       278                85
367         Rogers, Tyler  226.0       262  349.0       177                85
627       Schreiber, John  184.4       313  271.4       244                69
348         Cano, Yennier  281.3       202  426.3       134                68
244          Poche, Colin  131.1       380  211.1       315                65
751          Cimber, Adam   45.0       552   78.0       491                61
548         Kahnle, Tommy  177.7       325  246.7       267                58
416           Smith, Will   47.1       545   79.1       489                56
553        Peralta, Wandy   87.7       455  126.7       404                51