In [43]:
import pandas as pd
import numpy as np

!wget -q https://raw.githubusercontent.com/crtez/fantasy_reference/refs/heads/main/stats.csv

# Read the CSV file
df = pd.read_csv('stats.csv')

# Convert numeric columns to appropriate types
numeric_cols = ['hit', 'strikeout', 'walk', 'p_out', 'p_win', 'p_earned_run', 
                'p_save', 'p_balk', 'p_quality_start', 'p_hit_by_pitch', 
                'p_hold', 'p_total_pickoff']

for col in numeric_cols:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')

# Calculate points using the old scoring system
df['old_points'] = (
    df['p_win'] * 8 +
    df['p_save'] * 8 +
    df['p_out'] * 1 +
    df['hit'] * -1.3 +
    df['p_earned_run'] * -3 +
    df['walk'] * -1.3 +
    df['p_hit_by_pitch'] * -1.3 +
    df['strikeout'] * 3
)

# Calculate points using the new scoring system (old + additional stats)
df['new_points'] = (
    df['old_points'] +
    df['p_balk'] * -1 +
    df['p_hold'] * 4 +
    df['p_total_pickoff'] * 1 +
    df['p_quality_start'] * 3 +
    df['p_save'] * 5 + # 5 more points for saves
    df['p_blown_save'] * -5 # minus points for blown saves
)

# Add rank columns
df['old_rank'] = df['old_points'].rank(ascending=False, method='min').astype(int)
df['new_rank'] = df['new_points'].rank(ascending=False, method='min').astype(int)
df['rank_improvement'] = df['old_rank'] - df['new_rank']

# Display the top 20 players with their ranks
top_players = df[['last_name, first_name', 'p_save', 'old_points', 'new_points', 'old_rank', 'new_rank']].rename(columns={'p_save': 'saves_last_season'})
top_players = top_players.sort_values(by='new_points', ascending=False)

print("Top 100 players by new scoring system with ranks:")
with pd.option_context('display.max_rows', None):
    display(top_players.head(100))

# List of the 20 specific players you provided
specific_players = [
    "Helsley, Ryan", "Clase, Emmanuel", "Finnegan, Kyle", "Suarez, Robert", 
    "Hader, Josh", "Iglesias, Raisel", "Yates, Kirby", "Holmes, Clay", 
    "Foley, Jason", "Díaz, Alexis", "Miller, Mason", "Jansen, Kenley", 
    "Estévez, Carlos", "Doval, Camilo", "Bednar, David", "Duran, Jhoan", 
    "Kimbrel, Craig", "Fairbanks, Pete", "Scott, Tanner", "Muñoz, Andrés"
]

# Filter the dataframe to only include these players
specific_df = df[df['last_name, first_name'].isin(specific_players)]

# Create a dataframe showing rank improvements for these specific players
specific_rank_changes = specific_df[['last_name, first_name', 'p_save', 'old_points', 'new_points', 'old_rank', 'new_rank', 'rank_improvement']].rename(columns={'p_save': 'saves_last_season'})
specific_rank_changes = specific_rank_changes.sort_values(by='rank_improvement', ascending=False)

print("\nRank improvements for the 20 players with the most saves last season:")
display(specific_rank_changes)

Top 100 players by new scoring system with ranks:

,"last_name, first_name",saves_last_season,old_points,new_points,old_rank,new_rank
209,"Skubal, Tarik",0,1009.2,1075.2,1,1
520,"Wheeler, Zack",0,970.3,1049.3,2,2
79,"Sale, Chris",0,966.6,1021.6,3,3
778,"Helsley, Ryan",49,744.1,969.1,15,4
152,"Clase, Emmanuel",47,747.7,967.7,14,5
695,"Gilbert, Logan",0,887.3,954.3,4,6
478,"Cease, Dylan",0,867.8,915.8,5,7
252,"Ragans, Cole",0,836.3,900.3,6,8
171,"Lugo, Seth",0,779.8,845.8,7,9
229,"Burnes, Corbin",0,777.5,842.5,9,10
130,"Hader, Josh",34,684.3,833.3,29,11
457,"Yates, Kirby",33,667.1,833.1,31,12
439,"King, Michael",0,778.8,822.8,8,13
83,"Imanaga, Shota",0,760.0,820.0,11,14
296,"Flaherty, Jack",0,770.9,816.9,10,15
557,"Nola, Aaron",0,749.4,810.4,13,16
5,"Gray, Sonny",0,759.8,798.8,12,17
513,"Miller, Bryce",0,740.3,795.3,16,18
324,"Skenes, Paul",0,738.4,785.4,17,19
539,"Ober, Bailey",0,727.5,782.5,19,20
232,"Kirby, George",0,722.7,781.7,21,21
315,"López, Pablo",0,720.3,774.3,22,22
673,"Valdez, Framber",0,723.7,773.7,20,23
111,"Iglesias, Raisel",34,616.8,766.8,43,24
194,"Manaea, Sean",0,715.2,763.2,24,25
142,"Rodón, Carlos",0,715.8,762.8,23,26
184,"Crochet, Garrett",0,729.7,761.7,18,27
172,"Bibee, Tanner",0,714.4,754.4,25,28
311,"Blanco, Ronel",0,708.8,751.8,26,29
662,"Miller, Mason",28,617.6,742.6,42,30
251,"Peralta, Freddy",0,708.7,740.7,27,31
705,"Kikuchi, Yusei",0,703.1,739.1,28,32
742,"Suarez, Robert",36,583.6,737.6,55,33
507,"Webb, Logan",0,666.8,727.8,32,34
571,"Scott, Tanner",22,567.4,711.4,57,35
687,"Greene, Hunter",0,668.4,708.4,30,36
710,"Castillo, Luis",0,653.0,707.0,35,37
78,"Brown, Hunter",0,649.7,705.7,36,38
652,"Glasnow, Tyler",0,656.9,697.9,34,39
449,"Fried, Max",0,647.0,697.0,37,40
80,"Gil, Luis",0,665.3,694.3,33,41
505,"Berríos, José",0,627.5,692.5,39,42
737,"Eovaldi, Nathan",0,635.2,683.2,38,43
345,"Finnegan, Kyle",38,510.5,675.5,75,44
175,"López, Reynaldo",0,627.4,672.4,40,45
363,"Gausman, Kevin",0,620.1,668.1,41,46
270,"Walker, Ryan",10,545.9,660.9,61,47
713,"Houck, Tanner",0,598.0,655.0,46,48
34,"Sánchez, Cristopher",0,597.2,648.2,47,49
272,"Crawford, Kutter",0,601.5,646.5,45,50
129,"Pfaadt, Brandon",0,605.3,644.3,44,51
700,"Cortes Jr., Nestor",0,595.5,637.5,50,52
21,"Fedde, Erick",0,596.7,635.7,48,53
723,"Gallen, Zac",0,595.7,631.7,49,54
404,"Wacha, Michael",0,587.8,629.8,52,55
169,"Singer, Brady",0,588.3,627.3,51,56
286,"Pivetta, Nick",0,585.5,618.5,53,57
90,"Gore, MacKenzie",0,584.9,617.9,54,58
88,"Severino, Luis",0,571.9,613.9,56,59
694,"Jax, Griffin",10,486.8,603.8,83,60
87,"Suárez, Ranger",0,567.2,600.2,58,61
10,"Ryan, Joe",0,560.6,598.6,59,62
466,"Muñoz, Andrés",22,489.0,598.0,82,63
362,"Keller, Mitch",0,546.9,589.9,60,64
333,"Taillon, Jameson",0,542.6,589.6,62,65
355,"Irvin, Jake",0,537.3,584.3,63,66
489,"Chapman, Aroldis",14,443.8,579.8,100,67
758,"Jansen, Kenley",27,461.3,574.3,95,68
413,"Holmes, Clay",30,480.5,573.5,87,69
660,"Weaver, Luke",4,461.4,570.4,94,70
2,"Duran, Jhoan",23,437.3,569.3,102,71
397,"Eflin, Zach",0,529.1,568.1,65,72
630,"Snell, Blake",0,536.0,567.0,64,73
359,"Holton, Tyler",8,463.6,563.6,93,74
316,"Morton, Charlie",0,521.9,562.9,67,75
696,"Martinez, Nick",0,511.7,559.7,73,76
629,"Foley, Jason",28,408.1,559.1,118,77
308,"Bradley, Taj",0,527.4,557.4,66,78
593,"Smith, Cade",1,450.7,556.7,97,79
757,"Díaz, Edwin",20,481.3,554.3,86,80
260,"Hoffman, Jeff",10,434.9,553.9,103,81
12,"Bassitt, Chris",0,514.2,549.2,69,82
709,"Estévez, Carlos",26,443.7,548.7,101,83
504,"Steele, Justin",0,513.4,547.4,70,84
140,"Pepiot, Ryan",0,519.9,546.9,68,85
720,"Bello, Brayan",0,513.4,543.4,70,86
686,"Arrighetti, Spencer",0,510.7,541.7,74,87
56,"Anderson, Tyler",0,506.6,541.6,77,88
477,"Schwellenbach, Spencer",0,502.5,538.5,78,89
592,"Adam, Jason",4,414.3,538.3,113,90
257,"Littell, Zack",0,507.0,538.0,76,91
107,"Kopech, Michael",15,449.1,534.1,98,92
218,"Rodriguez, Grayson",0,499.0,532.0,79,93
4,"Myers, Tobias",0,511.9,529.9,72,94
420,"Quintana, Jose",0,491.8,527.8,81,95
768,"Doval, Camilo",23,415.5,525.5,112,96
646,"Kimbrel, Craig",23,424.2,524.2,109,97
641,"Gibson, Kyle",0,483.1,522.1,85,98
491,"Rea, Colin",1,483.4,518.4,84,99
734,"Díaz, Alexis",28,396.3,517.3,124,100

Rank improvements for the 20 players with the most saves last season:

,"last_name, first_name",saves_last_season,old_points,new_points,old_rank,new_rank,rank_improvement
629,"Foley, Jason",28,408.1,559.1,118,77,41
2,"Duran, Jhoan",23,437.3,569.3,102,71,31
345,"Finnegan, Kyle",38,510.5,675.5,75,44,31
758,"Jansen, Kenley",27,461.3,574.3,95,68,27
558,"Bednar, David",23,333.5,425.5,161,135,26
582,"Fairbanks, Pete",23,353.1,452.1,150,124,26
734,"Díaz, Alexis",28,396.3,517.3,124,100,24
571,"Scott, Tanner",22,567.4,711.4,57,35,22
742,"Suarez, Robert",36,583.6,737.6,55,33,22
457,"Yates, Kirby",33,667.1,833.1,31,12,19
466,"Muñoz, Andrés",22,489.0,598.0,82,63,19
111,"Iglesias, Raisel",34,616.8,766.8,43,24,19
413,"Holmes, Clay",30,480.5,573.5,87,69,18
709,"Estévez, Carlos",26,443.7,548.7,101,83,18
130,"Hader, Josh",34,684.3,833.3,29,11,18
768,"Doval, Camilo",23,415.5,525.5,112,96,16
646,"Kimbrel, Craig",23,424.2,524.2,109,97,12
662,"Miller, Mason",28,617.6,742.6,42,30,12
778,"Helsley, Ryan",49,744.1,969.1,15,4,11
152,"Clase, Emmanuel",47,747.7,967.7,14,5,9